<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    
    <div class="main">
        <div class="line-h"></div>
        <div class="line-v"></div>
        <button class="update" (click)="update()"><div class="background"><i class="fa fa-chevron-left"></i></div></button>
        <div class="image">
            <img src="../../assets/WhatsApp Image 2021-05-25 at 08.55.40.jpeg" alt="">
        </div>
        <div class="bottom">
            <form  [formGroup]="formulario">
                <input id="title" type="text" name="title" placeholder="Titulo" formControlName="title" > 
               
                <textarea id="message" name="message" placeholder="Mensagem" rows="10" cols="50"formControlName="message" >
                    
                </textarea>
            </form>
        </div>
        <div class="footer">
            <div class="facebook">
                <div class="fb">
                    <i class="fab fa-facebook-square"></i>
                    <h6>fb.amorecaridade.com</h6>
                </div>
            </div>
            <div class="line"></div>
            <div class="whats">
                <div class="wh">
                    <i class="fab fa-whatsapp"></i>
                    <h6>(55) 9-9999-9999</h6>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="index.js"></script>

</html>